@page "/"
@inject IConfiguration Config

<PageTitle>Home</PageTitle>

<h1>Hello, world!!!</h1>
<p class="h4">
    Connection String: @defaultConn
</p>

@code{

    private string defaultConn = "";

    protected override void OnInitialized()
    {
        defaultConn = Config.GetConnectionString("Default") ?? "unknown";
    }
}